<!-- views/candidate_pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <a href="/candidates/login">Login here</a>
</main>

</body>
</html>