<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sample FirebaseUI App</title>
    <% include ../partials/firebase_auth %><!-- TODO: change this into a script -->
    <script src="https://cdn.firebase.com/libs/firebaseui/2.7.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.7.0/firebaseui.css" />
    <script type="text/javascript">
      var uiConfig = {
            signInSuccessUrl: '/candidates/success',
            signInOptions: [
              // Leave the lines as is for the providers you want to offer your users.
              firebase.auth.GoogleAuthProvider.PROVIDER_ID,
              // firebase.auth.FacebookAuthProvider.PROVIDER_ID,
              // firebase.auth.TwitterAuthProvider.PROVIDER_ID,
              // firebase.auth.GithubAuthProvider.PROVIDER_ID,
              firebase.auth.EmailAuthProvider.PROVIDER_ID//,
              // firebase.auth.PhoneAuthProvider.PROVIDER_ID
            ],
            // Terms of service url.
            // tosUrl: '<your-tos-url>'
            credentialHelper: firebaseui.auth.CredentialHelper.GOOGLE_YOLO // change from accountchooser.com
          };

          // // Initialize the FirebaseUI Widget using Firebase.
          var ui = new firebaseui.auth.AuthUI(firebase.auth());

          // The start method will wait until the DOM is loaded.
          ui.start('#firebaseui-auth-container', uiConfig);



      
    </script>
    <% include ../partials/head %>
  </head>
  <body>
    <header><% include ../partials/header %></header>
    <h2 id="headerText" class="text-center">Please select a form of login</h2>
    <div id="firebaseui-auth-container"></div>
    <footer><% include ../partials/footer %></footer>
  </body>
</html>