<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="list-group">
        <% for(var i in data) { %>
            <% console.log(i); %>
            <a href="/election/<%= i%>" class="list-group-item"><%= data[i].title %></a>
        <% } %>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>