<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<main class="container">
    <div class="list-group">
        <% if (data == null) { %>
            <h4>There is no election data for this state at this time.</h4>
        <% } else { %>
            <% for(var i in data) { %>
                <a href="/election/<%= data[i].title%>" class="list-group-item"><%= data[i].title %></a>
            <% } %>
        <% } %>
    </div>
</main>


</body>
</html>