<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="container row-centered" style="margin-top:100px;">
        <div class="row">
            <h1>Find Upcoming Elections</h1>
            <h4>Select your state to begin.</h4>
        </div>
        <form action="getState" method="get">
            <div class="row" style="margin:100px;">
                <select name="stateSelector" class="selectpicker" data-show-subtext="true" data-live-search="true">
                    <% for(var i in data) { %>
                        <option value=<%= data[i].name %>><%= data[i].name %></option>
                    <% } %>
                </select>
                <button type="submit" class="btn btn-secondary btn-lg">Find Elections</button>
            </div>
        </form>
    </div>
</main>



</body>
</html>