<!-- views/partials/header.ejs -->
<% include ../partials/firebase_auth %>
<script type="text/javascript">
      initApp = function() {
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            document.getElementById('logoutBtn').style.display = 'block';
            console.log("someone logged in");
          } else {
            document.getElementById('logoutBtn').style.display = 'none';
            console.log("no one logged in");
          }
        }, function(error) {
          console.log(error);
        });
      };

      window.addEventListener('load', function() {
        initApp();
      });

     function logout() {
		firebase.auth().signOut().then(function() {
		  window.location.href = '/candidates/login';
		}, function(error) {
		  // An error happened.
		  console.log(error);
		});
     }
</script>
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">LocalPol</a>

        <ul class="nav navbar-nav">
            <li><a href="/">Search Elections</a></li>
            <!-- <li><a href="/about">About</a></li> -->
            <li><a href="/candidates">Candidate Portal</a></li>
            <li id="logoutBtn"><a id="myLink" href="#" onclick="logout();return false;">Logout</a></li>
            <!-- <li><button id="logoutBtn" onclick="logout()">Logout</button></li> -->
        </ul>
    </div>

</div>
</nav>