<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
<<<<<<< HEAD
    body    { padding-top:20px; }
=======
    /*body    { padding-top:50px; }*/
    .row-centered {
       text-align:center;
    }

>>>>>>> 1c5158aa9e81c6dda3c7cbb33cd3bf7e31353aa2
</style>